.root {
    -fx-font-family: "Arial";
}

.text-field {
    -fx-pref-width: 400px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
}