@{
    ViewData["Title"] = "Kontakt";
}

<h1>Kontakt</h1>
<p class="lead">Skontaktuj się z nami.</p>
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Dane kontaktowe</h4>
        <ul class="list-unstyled">
            <li>📧 kontakt@mojastrona.pl</li>
            <li>📞 +48 123 456 789</li>
            <li>📍 ul. Przykładowa 1, 00-001 Warszawa</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Godziny pracy</h4>
        <table class="table table-sm">
            <tr><td>Poniedziałek – Piątek</td><td>8:00 – 17:00</td></tr>
            <tr><td>Sobota</td><td>9:00 – 13:00</td></tr>
            <tr><td>Niedziela</td><td>Nieczynne</td></tr>
        </table>
    </div>
</div>
