@{
    ViewData["Title"] = "Usługi";
}

<h1>Nasze usługi</h1>
<p class="lead">Oferujemy szeroki zakres usług IT.</p>
<hr />
<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Tworzenie aplikacji webowych</h5>
                <p class="card-text">Projektujemy i wdrażamy nowoczesne aplikacje internetowe z użyciem ASP.NET Core.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">API i usługi REST</h5>
                <p class="card-text">Tworzymy wydajne i bezpieczne interfejsy API dla Twoich systemów.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Konsulting technologiczny</h5>
                <p class="card-text">Pomagamy w wyborze odpowiednich technologii i architektur dla Twojego projektu.</p>
            </div>
        </div>
    </div>
</div>
